body {
  font-family: dinosaur, sans-serif;
  font-weight: 400;
  font-style: normal;
  word-wrap: break-word;
  margin: 0;
  overflow-y: hidden;
  background-color: var(--bg-color);
  color: var(--accent-color);
  transition: background-color 0.3s linear, color 0.3s linear;
}

h1 {
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24pt;
}

h2 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18pt;
  margin: 1em 0;
}

h2 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14pt;
  margin: 1em 0;
}

h4 {
  font-family: axia, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 12pt;
}

h5 {
  font-family: axia, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 10pt;
}

h6 {
  font-family: axia, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 8pt;
  margin: 0 0 1em 0;
}

p {
  font-size: 12pt;
  margin: 1em 0;
}

a {
  color: inherit;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #041d28;
  background-color: rgba(255, 255, 255, 1);
}

a:active {
  color: inherit;
}

img {
  max-width: 100%;
  margin: 12pt 0 0 0;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  min-width: 100vw;
  height: 100vh;
  max-height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  color: #fbfbff;
  background-color: #000;
  z-index: 2020;
  transition: top 1s ease-in-out;
}

#loader {
  top: 0;
  background-color: #2b2b2b;
  z-index: 2050;
}

#desktop {
  top: -100%;
}

#landscape {
  top: -100%;
}

.pageContainer {
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.zinePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  min-width: 100vw;
  height: 100vh;
  max-height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  scroll-snap-align: start;
}

.content {
  width: 90%;
  position: absolute;
}

.textCenter {
  text-align: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media (min-width: 768px) {
  #desktop {
    display: flex;
    top: 0;
  }
}

@media (max-height: 540px) {
  #landscape {
    display: flex;
    top: 0;
  }
}